/*#region recipes only*/

.rating {
    width: 100%;
    height: auto;
    margin-top: auto;
}

.rating-list {
    width: 100%;
    display: block;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.rating-single-recipe {
    display: inline-block;
    width: 25em;
    height: 30em;
    margin: 2em;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/*#endregion */

/*#region articles only*/

.article-box {
    width: 80%;
    margin: 0 auto;
    height: 13vw;
    margin-bottom: 2em;
    margin-top: 2em;
}

/*#endregion */

/*#region articles & recipes part of the common*/

.recipe-article-photo {
    width: 100%;
    height: 80%;
    display: block;
}

    .recipe-article-photo img {
        width: 100%;
        height: 100%;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

.information-about {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-5%, -70%);
    -ms-transform: translate(0%, -70%);
    text-align: center;
    padding-left: 10%;
    font-size: 110%;
    width: 100%;
    height: 100%;
    line-height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: black;
}

.rating-hover:hover .rating-photo {
    opacity: 0.2;
}

.rating-hover:hover .information-about {
    opacity: 1;
}

.rating-hover:hover .rating-title {
    background-color: rgba(58, 64, 64, 1);
}

.rating-title {
    width: 100%;
    height: 20%;
    border-top: 1px solid lightgray;
    font-size: 1vw;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: #63A669;
    overflow: hidden;
    display: table;
    transition: .5s ease;
    color: white;
}

    .rating-title p {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        vertical-align: middle;
        display: table-cell;
        padding: 1% 1%;
    }


.rating-hover a, .rating-hover a:hover, .rating-hover a:focus {
    text-decoration: none;
}

/*#endregion */


