@model recipes_webapp.Models.ViewModels.Dishes.DishesVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheets/Recipes/DetailsCSS.css" rel="stylesheet" />

<div id="details-body">
    <div id="image-box">
        <img id="image" src="~/Content/Images/przykladowe-zdjecie-potrawy.jpg" alt=""/>
        <div id="icon-box">

        </div>
    </div>
    <div id="information-box">
        <div></div>
        <div>Tomasz Nowak </div>
        <div>@Html.DisplayFor(model => model.Name)</div>
        <div>@Html.DisplayFor(model => model.Description)</div>
        <div></div>
        <div></div>
    </div>
</div>