@model recipes_webapp.Models.ViewModels.Dishes.DirectionsVM
<link href="~/Content/StyleSheets/Recipes/DirectionsCSS.css" rel="stylesheet" />


<div id="directions-title">Sposób przygotowania potrawy: </div>

<div id="directons-steps-box">
    @for (int i = 1; i < Model.DirectionsList.Count(); i++)
    {
        if (Model.DirectionsList.ElementAt(i) != "")
        {
            <div class="directions-single-step-box">
                <b class="directions-step-title">
                    KROK @i
                </b>
                <div class="directions-step-content">
                    @Model.DirectionsList.ElementAt(i)
                </div>
            </div>
        }
    }
</div>