@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Recipes/IndexCSS.css" rel="stylesheet" />

<div id="index-body">

    <div id="text-before-search">
        <p>Wyszukaj najlepszy przepis!</p>
    </div>
    <div id="search-box">
        <input type="text" id="search" placeholder="na co masz dzisiaj ochotę?" />
    </div>

    <div id="recipes-box">
        <ul>
            @if (Model.Count() == 0)
            {
                <li class="tr-table"></li>
            }
            else
            {
                foreach (var item in Model)
                {
                    <li class="tr-table recipe">
                        <div class="recipe-photo">
                            <img src="~/Content/Images/przykladowe-zdjecie-potrawy.jpg" />
                        </div>
                        <div class="recipe-information">   </div>
                        <div class="recipe-text">   </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div id="menu-box">
        ww
    </div>

</div>
@section scripts{

    <script>
        $(document).ready(function () {

            $("#search").keyup(function () {
                var searchText = $(this).val();

                $(".tr-table").each(function () {

                    if ($(this).text().search(new RegExp(searchText, "i")) < 0) {
                        $(this).fadeOut();
                    } else {
                        $(this).show();
                    }

                });
            });
        });
    </script>


}
