
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/StyleSheets/Recipes/IndexCSS.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<div id="content">

    <div id="left-side">
        <div id="text1">NAJCZĘŚCIEJ WYBIERANE DANIA: </div>


        @Html.Action("BestRating", "Categories", new { name = "all" })


        <div id="slide-image">
            <div class="photo" id="photo1">
                <img src="~/Content/Images/img1.jpg" alt="photo 1" />
            </div>
            <div class="photo" id="photo2">
                <img src="~/Content/Images/img2.jpg" alt="photo 2" />
            </div>
            <div class="photo" id="photo3">
                <img src="~/Content/Images/img3.jpg" alt="photo 3" />
            </div>
            <div class="photo" id="photo4">
                <img src="~/Content/Images/img4.jpg" alt="photo 4" />
                <div class="para">Sernik królewski skąpany w polewie toffi</div>
            </div>
            <div class="photo" id="photo5">
                <img src="~/Content/Images/img5.jpg" alt="photo 5" />
            </div>
        </div>
    </div>

    <div id="right-side">
        
    </div>



</div>


