@model recipes_webapp.Models.ViewModels.Dishes.IngredientsVM
<link href="~/Content/StyleSheets/Recipes/IngredientsCSS.css" rel="stylesheet" />

<div id="ingredients-header-text"> Lista potrzebnych składników: </div>

<div id="ingredients-list">
    @for (int i = 1; i < Model.IngredientsList.Count(); i++)
    {
        if (Model.IngredientsList.ElementAt(i) != "")
        {
            <p> <a class="plus-element">+</a> &nbsp; @Model.IngredientsList.ElementAt(i) </p>
        }
    }

    <div id="download-list">
        <a href="#"> pobierz listę *PDF </a>
    </div>
</div>

