@model recipes_webapp.Models.ViewModels.Dishes.GalleryVM

<link href="~/Content/StyleSheets/Recipes/PhotoSliderCSS.css" rel="stylesheet" />
<script src="~/Scripts/MyScripts/Recipes/Photo-Slider.js"></script>

<div id="big-photos">
    <div class="big" id="photo1">
        <img src="~/Content/Images/img1.jpg" alt="photo 1" />
    </div>
    <div class="big" id="photo2"> 
        <img src="~/Content/Images/img2.jpg" alt="photo 2" />
    </div>
    <div class="big" id="photo3">
        <img src="~/Content/Images/img3.jpg" alt="photo 3" />
    </div>
    <div class="big" id="photo4">
        <img src="~/Content/Images/img4.jpg" alt="photo 4" />
    </div>
    <div class="big" id="photo5">
        <img src="~/Content/Images/img5.jpg" alt="photo 5" />
    </div>
    <i class="prev 	fas fa-angle-left" onclick="showSlides(1, false)"></i>
    <i class="next fas fa-angle-right" onclick="showSlides(1, true)"></i>
</div>

