@model recipes_webapp.Models.ViewModels.Dishes.DishesVM

<link href="~/Content/StyleSheets/Recipes/PhotoSliderCSS.css" rel="stylesheet" />
<script src="~/Scripts/MyScripts/Recipes/Photo-Slider.js"></script>

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

<link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />

<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />


<div id="righttop-big-photo-box">

    @for (int i = 0; i < Model.MyGallery.Count(); i++)
    {
        <img class="dish-photo" src="/Content/Images/Uploads/Recipes/@Model.Id_Dish/Gallery/@Model.MyGallery.ElementAt(i)" id="photo_@i" />
    }
    <i class="prev 	fas fa-angle-left" onclick="showSlides(1, false)"></i>
    <i class="next fas fa-angle-right" onclick="showSlides(1, true)"></i>
    <script>showSlides(1, true);</script>
</div>
