@model recipes_webapp.Models.ViewModels.Account.UsersVM
<link href="~/Content/StyleSheets/Account/ChangeSignaureCSS.css" rel="stylesheet" />

@using (Html.BeginForm("ChangeSignature", "Account"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id_User)
    <div id="changesignature-box">
        <p> USTAW SWÓJ NOWY PODPIS </p>
        <div id="new-signature">
            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "text-editor" } })
        </div>
        <button type="submit" class="change-button">ZATWIERDŹ ZMIANĘ</button>
    </div>

}
