@model recipes_webapp.Models.ViewModels.Account.UsersVM
<link href="~/Content/StyleSheets/Account/MyCSS.css" rel="stylesheet" />

@{
    ViewBag.Title = Model.User_Name + " - moje konto";
}

<div id="myaccount-main-box">


    <div id="myaccount-information-box">
        <div id="myaccount-user-photo-box">
            <div id="myaccount-image">
                <img id="user-image" src="~/Content/Images/user-icon.png" />
            </div>
            <div id="myaccount-button">
                <a>zmień zdjęcie</a>
            </div>
        </div>
        <div id="myaccount-information">
            <div id="myaccount-username">@Model.User_Name</div>
            <div id="myaccount-rating"><p>rekomandacje: @Model.Recommendations</p> </div>
        </div>
    </div>

    <div id="myaccount-buttons-table">
        <a href="#"> MOJE PRZEPISY </a>
        <a href="#"> ULUBIONE PRZEPISY </a>
        <a href="#"> ZMIEŃ PODPIS </a>
        <a href="#"> ZMIEŃ HASŁO </a>
        <a href="@Url.Action("Logout", "Account")"> WYLOGUJ </a>
    </div>


</div>