@model IEnumerable<recipes_webapp.Models.ViewModels.Account.UsersVM>
<link href="~/Content/StyleSheets/Account/MyFollowingUsersCSS.css" rel="stylesheet" />

<div id="myfollowingusers-box">
    <p id="myfollowingusers-top-text"> TWOJE REKOMENDACJE </p>
    <ul>
        @foreach (var item in Model)
        {
            <li class="myfollowingusers-user">
                <div class="myfollowingusers-photo">
                    <img id="user-image" src="~/Content/Images/user-icon.png" />
                </div>
                <div class="myfollowingusers-name">
                    <div class="username-box">
                        <a href="#" class="myfollowingusers-username">@Html.DisplayFor(modelItem => item.User_Name)</a>
                    </div>
                    <div class="login-box">
                        <a href="#" class="myfollowingusers-login">@@@Html.DisplayFor(modelItem => item.Login)</a>
                    </div>
                </div>
                <div class="myfollowingusers-button-box">
                    <div class="myfollowingusers-button"> 
                        <a href="~/Account/DeactivateFollow?userId=@item.Id_User" class="myfollowingusers-button-text">usuń rekomendacje</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>


