@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

<link href="~/Content/StyleSheets/Categories/BestRatingCSS.css" rel="stylesheet" />

<div class="rating">
    <ul class="rating-list">
        @foreach (var item in Model)
        {
            @Html.Action("SingleRecipe", "Account", new { id = item.Id_Dish })
        }
    </ul>
</div>
