#search-bar-form {
    width: 100%;
    height: 100%;
}

.search-input {
    float: left;
    width: 75%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    padding-left: 0.5em;
}

.button-input {
    float: left;
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: RGB(136, 176, 75);
    font-size: 150%;
    color: white;
}

