body {
}


#changesignature-box {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    color: black;
    text-align: center;
}

    #changesignature-box p {
        font-size: 300%;
        margin: 1em 0 1.5em 0;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        font-family: 'Quicksand', sans-serif;
        letter-spacing: 0.1em;
    }

.text-editor {
    width: 100%;
    height: 1.5em;
    text-align: center;
    font-size: 200%;
    border: none;
    border-bottom: 1px solid lightgray;
    font-family: 'Quicksand', sans-serif;
}

.change-button {
    width: 100%;
    height: 3em;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #63A669;
    color: white;
    border: 1px solid white;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-top: 1.5em;
}

    .change-button:hover {
        background-color: #7db582;
    }