#register-form {
    width: 35%;
    height: auto;
    margin: 3em auto;
}

#register-form-title {
    font-size: 250%;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid lightgray;
    letter-spacing: 0.2em;
}

.register-name-editor {
    height: 2.5em;
    width: 100%;
    margin: 2em auto 1.5em auto;
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    padding-left: 2%;
    letter-spacing: 0.1em;
}

.register-login-editor {
    height: 2.5em;
    width: 100%;
    margin: 0 auto 1.5em auto;
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    padding-left: 2%;
    letter-spacing: 0.1em;
}

.register-password-editor {
    height: 2.5em;
    width: 100%;
    margin: 0 auto 1.5em auto;
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    padding-left: 2%;
    letter-spacing: 0.1em;
}

.register-repeat-password-editor {
    height: 2.5em;
    width: 100%;
    margin: 0 auto 1.5em auto;
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    padding-left: 2%;
    letter-spacing: 0.1em;
}

    .register-name-editor:hover, .register-login-editor:hover, .register-password-editor:hover, .register-repeat-password-editor:hover {
        border: 1px solid #63A669;
    }

    .register-name-editor:hover, .register-login-editor:focus, .register-password-editor:focus, .register-repeat-password-editor:focus {
        border: 1px solid #63A669;
    }

.register-btn-login {
    width: 90%;
    margin: 0.5em 5% 1em 5%;
    height: 2.5em;
    font-family: 'Quicksand', sans-serif;
    background-color: #63A669;
    color: white;
    border: 1px solid white;
    letter-spacing: 0.2em;
    font-weight: bold;
}

#register-warning-information {
    width: 90%;
    text-align: left;
    margin-left: 5%;
    color: #b57d7d;
    font-family: 'Poppins', sans-serif;
}

.register-btn-login:hover {
    background-color: #7db582;
}

.register-btn-register {
    background-color: #649ea6;
    width: 90%;
    margin: 1em 5% 0.5em 5%;
    height: 2.5em;
    font-family: 'Quicksand', sans-serif;
    color: white;
    border: 1px solid white;
    letter-spacing: 0.2em;
    font-weight: bold;
    text-align: center;
    line-height: 2.5em;
}

    .register-btn-register:hover {
        background-color: #7daeb5;
    }


a, a:hover, a:focus {
    text-decoration: none;
}
