#rating {
    width: 100%;
    height: auto;
    margin-top: auto;
}

#rating-list {
    width: 100%;
    display: block;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.rating-recipe {
    display: inline-block;
    width: 25em;
    height: 32em;
    margin: 2em;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
    position: relative;
}

    .rating-recipe:hover, .rating-recipe:focus {
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
    }

.rating-recipe-photo {
    width: 100%;
    height: 50%;
}

    .rating-recipe-photo img {
        width: 100%;
        height: 100%;
        display: block;
    }

.rating-recipe-information {
    width: 100%;
    height: 10%;
    background-color: rgba(58, 64, 64, 1);
}

.rating-icons {
    float: left;
    width: 22%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 3%;
    font-size: 1vw;
}

.rating-icons-last {
    float: left;
    width: 34%;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 3%;
    font-size: 1vw;
}


.rating-recipe-text {
    width: 100%;
    height: 40%;
    position: relative;
}

.rating-text-author {
    width: 100%;
    height: 10%;
    font-size: 0.6vw;
    text-align: left;
    padding-left: 5%;
    margin: 3% 0 1% 0;
    color: rgba(118, 154, 66, 1);
}

.rating-text-title {
    width: 100%;
    height: auto;
    max-height: 30%;
    font-size: 1.2vw;
    text-align: left;
    margin-bottom: 3%;
    padding-left: 5%;
    color: rgba(58, 64, 64, 1);
}

.rating-text-content {
    width: 100%;
    height: 30%;
    max-height: 40%;
    font-size: 0.8vw;
    text-align: center;
    padding: 0 5%;
    color: rgba(58, 64, 64, 1);
}


