<link href="~/Content/StyleSheets/_Layout/SearchBarCSS.css" rel="stylesheet" />

<script src="~/Scripts/MyScripts/Layout/Button-Animation.js"></script>

<form id="search-bar-form">
    <input type="text" placeholder="wyszukaj.." name="search" class="search-input">
    <button type="submit" class="button-input">
        <i class="fa fa-search"></i>
    </button>
</form>