
<link href="~/Content/StyleSheets/Articles/BestArticlesPartialCSS.css" rel="stylesheet" />


<div class="article-box">
    <img class="art-photo" src="~/Content/Images/1.jpg" />
    <div class="art-text">
        Dlaczego gulasz gotujemy powoli? Odpowiada Jan Kowalski.
    </div>
</div>

<div class="article-box">
    <img class="art-photo" src="~/Content/Images/1.jpg" />
    <div class="art-text">
        Wpływ diety ziemniaczanej na organizm człowieka.
    </div>
</div>

<div class="article-box">
    <img class="art-photo" src="~/Content/Images/1.jpg" />
    <div class="art-text">
        Świąteczny must have. Sprawdz, co polecamy na świąteczny stół!
    </div>
</div>