@model IEnumerable<recipes_webapp.Models.ViewModels.Articles.ArticlesVM>
<link href="~/Content/StyleSheets/Articles/IndexCSS.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<div id="articles-list-box">

    <div id="top-mot-box">
        <p id="mot-text1">Nigdy mało dobrej wiedzy!</p>
        <p id="mot-text2">odwiedź najciekawsze artykuły o kuchni świata</p>
    </div>

    <div id="art-button">
        <a href="#">NAJLEPSZE</a>
        <a href="#">NAJNOWSZE</a>
        <a href="#">NAJSTARSZE</a>
    </div>

    <div id="art-list-ul">
        <ul>
            @foreach (var item in Model)
            {
                <li class="next-art">
                    <div class="art-photo">
                        <img src="~/Content/Images/img5.jpg" />
                    </div>
                    <div class="art-title">
                        <p>@item.Title.ToUpper()</p>
                    </div>
                </li>
            }
        </ul>
    </div>


</div>