@model IEnumerable<recipes_webapp.Models.ViewModels.Dishes.DishesVM>

<link href="~/Content/StyleSheets/Categories/BestRatingCSS.css" rel="stylesheet" />

<div id="rating">
    <ul id="rating-list">
        <li class="tr-table">
            <b id="count-0">Nie znalazłeś niczego ciekawego? Sprawdź, jakie przepisy polecają nasi użytkownicy: </b>
        </li>
        @foreach (var item in Model)
        {
            <li class="rating-recipe">
                <div class="rating-recipe-photo">
                    <img src="~/Content/Images/przykladowe-zdjecie-potrawy.jpg" />
                </div>
                <div class="rating-recipe-information">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="rating-recipe-text">

                </div>
            </li>


        }
    </ul>
</div>
@TempData["test"]

        &nbsp;




