#addnewrecipe-main-box {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#addnewrecipe-top-title-box {
    width: 100%;
    border-bottom: 1px solid lightgray;
    font-size: 400%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    letter-spacing: 0.2em;
}

.addnewrecipe-left-side {
    float: left;
    width: 5%;
    height: 100%;
}

.addnewrecipe-content-side {
    float: left;
    width: 85%;
    height: auto;
    padding: 0 0 0 3%;
}

.first-section {
    border-left: 3em solid #FF6F61;
    border-bottom: 1px solid #FF6F61;
    border-top: 1px solid #FF6F61;
}

.second-section {
    border-left: 3em solid #6B5B95;
    border-bottom: 1px solid #6B5B95;
    border-top: 1px solid #6B5B95;
}

.third-section {
    border-left: 3em solid #88B04B;
    border-bottom: 1px solid #88B04B;
    border-top: 1px solid #88B04B;
}

.fourth-section {
    border-left: 3em solid #EFC050;
    border-bottom: 1px solid #EFC050;
    border-top: 1px solid #EFC050;
}

.addnewrecipe-check-side {
    float: left;
    width: 10%;
    height: auto;
    margin: 0;
}

    .addnewrecipe-check-side b {
        padding-left: 5%;
    }

.addnewrecipe-content-box {
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding-bottom: 2em;
}

#addnewracipe-information-box {
    height: 29.5em;
    padding-bottom: 0;
    margin-top: 2em;
    margin-bottom: 4em;
}

#addnewracipe-ingredients-box {
    padding-bottom: 0;
    margin-top: 2em;
}

#addnewracipe-directions-box {
    padding-bottom: 0;
    margin-top: 2em;
}

#addnewracipe-photos-box {
    padding-bottom: 0;
    margin-top: 2em;
}

.all-side-text {
    font-family: 'Quicksand', sans-serif;
    border: none;
    height: 1.5em;
    margin: 1em 0;
    font-weight: bold;
    font-size: 150%;
}

.information-editor {
    width: 95%;
    height: 2em;
    text-align: center;
    margin: 1em 0;
    border: none;
    border-bottom: 1px solid lightgray;
    margin-left: 5%;
}

    .information-editor:hover {
        border-bottom: 1px solid rgba(118, 154, 66, 1);
    }

    .information-editor:focus {
        border: none;
        border: 2px solid rgba(118, 154, 66, 1);
        padding: 0;
    }

.check-side-text {
    width: 85%;
    height: 2em;
    text-align: left;
    margin: 2em 15% 2em 0;
    padding-left: 13%;
    font-weight: bold;
}

.content-side-error {
    margin-left: 5%;
    width: 95%;
    height: 2em;
    margin: 1em 0 1em 5%;
    font-family: 'Poppins', sans-serif;
    color: #b57d7d;
}
