/*#region details page config*/

#details-main-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    font-size: 16px;
}

    #details-main-container p {
        margin: 0;
        padding: 0;
    }

/*#endregion */
#details-lefttop-box {
    height: 750px;
}

#details-righttop-box {
    height: auto;
}

#details-leftbottom-box {
    height: 750px;
}

#details-rightbottom-box {
    border: 1px solid lightgray;
    height: 750px;
}

.cards {
    width: 100%;
}

/*#region top left container - basic information about dish and recipe*/

#lefttop-basic-text-information-box {
    width: 100%;
    height: 70%;
}

#lefttop-basic-icon-information-box {
    width: 100%;
    height: 30%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: max-content;
}

/*#region text information*/

.text-information-box {
}

#path-box {
    width: 100%;
    height: 10%;
    padding-left: 1%;
    font-family: 'Quicksand', sans-serif;
}

.path-text {
    color: #1d7f1a;
    font-weight: bold;
}

.path-text:hover {
}

#author-box {
    width: 100%;
    height: 15%;
    padding-left: 2%;
    font-size: 115%;
    display: table;
    font-weight: bold;
    font-family: 'Unica One', cursive;
}

    #author-box p {
        vertical-align: bottom;
        display: table-cell;
    }

#author-box-link {
    color: #0d0042;
}

    #author-box-link:hover {
        color: #6a8b3c;
    }

    #title-box {
        width: 100%;
        height: auto;
        min-height: 10%;
        margin-top: 0.5%;
        max-height: 32%;
        padding-left: 2%;
        font-size: 300%;
        color: #FF6F61;
        font-family: 'Marck Script', cursive;
    }

#description-box {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    min-height: 20%;
    max-height: 40%;
    padding: 5% 5%;
    margin-top: 2.5%;
    font-size: 140%;
    border-left: 1rem solid #FF6F61;
    font-family: 'Magra', sans-serif;
    color: black;
}

/*#endregion */

/*#region icon information*/

.icon-box {
    text-align: center;
    color: black;
    padding-top: 5%;
    margin: 0 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.icon:hover {
    font-size: 450%;
}

#time-icon-icon-box {

}

#servings-icon-box {

}

#level-icon-box {

}

.icon-box-top {
}

.icon-box-bottom {
    font-size: 130%;
    margin-top: 2%;
}

.icon {
    font-size: 400%;
    color: #FF6F61;
    transition: font-size 0.3s;
}

/*#endregion */
/*#endregion */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*#region top right container - food photos / photo slider */

#righttop-big-photo-box {
    width: 100%;
    margin: 0 auto;
    display: table;
}

.dish-photo {
    width: 100%;
    height: auto;
    max-height: 850px;
    margin: 0 auto;
    display: none;
    vertical-align: middle;
}

/*#endregion */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*#region bottom left container - ingredients list */
/*#endregion */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*#region bottom right container - directions list */
/*#endregion */
@media (min-width: 1200px) {
    #details-main-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #lefttop-basic-icon-information-box {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1199px) {
    #lefttop-basic-icon-information-box {
        grid-template-columns: repeat(2, 1fr);
    }
    #details-lefttop-box {
        height: 1000px;
    }
}
