#dir-box {
    margin: 0 2em 2em 2em;
}

.first {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-bottom:0.2em;
}

    .second {
        font-size: 1.3em;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding-left: 0.5em;
        padding-bottom: 1em;
        padding-top: 0.5em;
    }


#text-dir {
    width: 80%;
    height: auto;
    font-size: 2em;
    padding-left: 1em;
    padding-top: 3em;
    margin-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
    border-bottom: 3px solid #63A669;
}