#dir-box {
    margin: 0 2em 2em 2em;
}

.first {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-bottom:0.2em;
}

    .second {
        font-size: 1.3em;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        padding-left: 0.5em;
        padding-bottom: 1em;
    }


#text-dir {
    width: 100%;
    height: auto;
    font-size: 2em;
    padding-left: 1em;
    padding-top: 3em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1em;
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
}