#content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


#left-side {
    float: left;
    height: auto;
    width: 75%;
}

#right-side {
    float: left;
    height: auto;
    width: 25%;
}

#log {
    width: 100%;
    height: auto;
    margin-top: 3em;
}

#log-box {
    width: 60%;
    margin-left: 40%;
    background-color: white;
    height: 5em;
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    line-height: 5em;
}

#logout-box {
    width: 60%;
    margin-left: 40%;
    background-color: white;
    height: 5em;
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    line-height: 5em;
}

#reg-box {
    width: 60%;
    margin-left: 40%;
    background-color: white;
    height: 5em;
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    line-height: 5em;
}

.log-text {
    width: 100%;
    height: 100%;
    text-align: right;
    padding-right: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
}

#thebest {
    margin: 5em auto;
    width: 90%;
    height: 1000px;
}

#authors {
    width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: #63A669;
    color: white;
    border-radius: 0.5em 0.5em 0 0;
    letter-spacing: 0.3em;
    font-size: 1.5em;
}

#authors2 {
    width: 100%;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background-color: #63A669;
    color: white;
    font-size: 1em;
    padding-bottom: 0.3em;
}

#slide-image {
    width: 78%;
    height: 32vw;
    margin: 0 auto;
    margin: 2em 11%;
    position: relative;
}

#text1 {
    font-family: 'Quicksand', sans-serif;
    background-color: #3e4444;
    font-size: 2.5em;
    color: white;
    padding-left: 5%;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 65%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}


.header {
    font-family: 'Changa', sans-serif;
    font-size: 2.5em;
    text-align: right;
    color: white;
    margin-bottom: 2em;
}

.header2 {
    font-family: 'Changa', sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: black;
}

.text-blod {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    color: rgba(106, 139, 60, 1);
}

.para {
    position: absolute;
    background-color: rgba(81, 86, 72, 0.45);
    font-size: 2.5em;
    text-align: center;
    width: 100%;
    margin-top: 37vw;
    font-family: 'Quicksand', sans-serif;
    color: white;
    bottom: 0;
    left: 0;
}

.photo {
    width: 100%;
    height: 100%;
    display: block;
}

    .photo img {
        width: 100%;
        height: 100%;
    }

#photo1 {
    display: block;

}

#photo4, #photo2, #photo3, #photo5 {
    display: none;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


#articles {
    width: 100%;
    height: auto;
    border-right: 2px solid rgba(181, 185, 172, 0.25);
    border-left: 2px solid rgba(181, 185, 172, 0.25);
    padding-top: 0.5em;
}

