
#big-photos {
    width:100%;
    height:100%;
}

.big {
    width: 100%;
    height: 100%;
    display: block;
}

    .big img {
        width: 100%;
        height: 100%;
    }

#photo1 {
    display: block;
}

#photo2, #photo3, #photo4, #photo5 {
    display: none;
}


.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 30%;
}

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }