.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0.5%;
}



    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }