.prev,
.next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -450px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    border-radius: 0 3px 3px 0;
    background-color: rgba(8, 6, 2, 0.27);
}

.next {
    right: 0.5%;
}

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }